img {
    border-radius: 10%;
    display: inline;
    clear: both;
    border-radius: 40px;
    display: block;
    margin: 0 auto;
    
}

.titolo {
    color: #FD787A;
    font-family: 'Share Tech Mono';
    text-shadow: #402929 1px 1px, #402929 -0px 0px, #402929 -1px 1px, #402929 -2px 2px, #402929 -3px 3px, #402929 -4px 4px, #402929 -5px 5px, #402929 -6px 6px, #402929 -7px 7px, #402929 -8px 8px, #402929 -9px 9px, #402929 -10px 10px, #402929 -11px 11px, #402929 -12px 12px, #402929 -13px 13px, #402929 -14px 14px, #402929 -15px 15px, #402929 -16px 16px, #402929 -17px 17px, #402929 -18px 18px, #402929 -19px 19px, #402929 -20px 20px, #402929 -21px 21px, #402929 -22px 22px, #402929 -23px 23px, #402929 -24px 24px, #402929 -25px 25px, #402929 -26px 26px, #402929 -27px 27px, #402929 -28px 28px, #402929 -29px 29px;
    text-align: center;
    font-size: 80px;
}

.link {
    color: black;
    font-family: Londrina Outline;
    text-shadow: 0 0 10px gold, 0 0 20px firebrick, 0 0 40px pink, 0 0 80px red;
}

body{
    background-color: beige;
}

.p1 {
    color: black;
    font-family: Londrina Outline;
    text-shadow: 0 0 10px gold, 0 0 20px firebrick, 0 0 40px pink, 0 0 80px red;
    font-size: 30px;
    font-weight: bold;
}
   

.p2{
    color: black;
    font-family: Londrina Outline;
    text-shadow: 0 0 10px gold, 0 0 20px firebrick, 0 0 40px pink, 0 0 80px red;
    font-size: 20px;
    font-weight: bold;
}

.ultimo{
    font-weight: bold;
    font size: 20px;
}

.link2{
    text-align: center;
    margin-bottom: 100px;
   

}

.lin2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

#sottotit {
    text-align: center;
}

#para1{
    text-align: center;
    width: fit-content;
    margin-top: 40px;
    margin-bottom: 60px;
}









